.container{
    display: flex;
    margin-top: 100px;
}

.table{
    width: 80vw;
    margin-left: 100px;
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.form input{
    padding: 10px;
    margin: 10px;
  
    
}
